<a href="https://colab.research.google.com/github/airapau/CPE-031-VDA-CPE21S4/blob/main/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 1**

# **Variables and Data Types**



**Numbers**

Varium = 123

pi =  3.14159


**Strings**

varString = "Hello World"

varText = "This is a string"


**Lists**

varlists = [abc", 123]


**Tuples**

varTuple = 'abc', 123, "HELLO"


**Dictionaries**

var = 3

varDict = {'first':1, '2':'2nd', 3:var}


varDict ={}

varDict['first']= 1

varDict['2'] = '2nd'

varDict[3] = var

## **Arithmetic**

**Addition**

a = 5 + 3
> 8

**Subtraction**

a = 5 - 3
> 2

**Multiplication**

a = 5 * 3

**Exponent**

a = 5 ** 3
> 125

**Division**

a = 5% 3
>2

a = 5 // 3
> 1

**Increment / Decrement**
a = 5
a += 1
> 6

Decrement
a = 5
a -= 1
> 4

String Concatenation
a = 'Hello' + 'World!'
> Hello World!

Complex Expressions
a = 3 + 5 - 6 * 2 / 4
> 5.0

# **Control Statements and Data Structure**

**Conditional Statements**

**Boolean Conditions**

In [4]:
x = True

if x:
  print ("var x is True")
else:
  print("var x is False")

var x is True

**String Conditions**

In [5]:
x = "Hello World!"

if x == 'Hello World!':
  print("var x is Hello World!")
else:
  print("var x is not Hello World!")

var x is Hello World!

**Numerical Conditions**

In [7]:
x = 10

if x == '10':
  print("var x is a string")
elif x == 10:
  print("var x is a integer")
else:
  print("var x is none of the above")

var x is a integer

## **Loops**

**For Loops**


```
for var in range(0, 5, 2):
    print(var)
```
> 0

> 2

> 4

**While Loops**


```
var = 0
while var < 5:
    print(var)
    var += 2
```
> 0

> 2

> 4

**Nested Loops**

```
x = 0
while x < 5:
    for y in range (0, x):
        print(y, end= '')
        x += 1
        print()
```
> 0

> 01

>012

>0123

# **Lists**
Can contain a number of values comprised of different datatypes.


```
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!'pi]
print(varList[0])
```
> 1

```
print(varList[4])
```
> Hello!


```
varlist.append('World!')
print(varlist[6])
```
> World!


```
len(varList)
```
> 7



```
print(varList[5])
```
> 3.14159


```
varList.remove(pi)
print(varList[5])
```
> World!


*Note: Lists starts with an index of 0. The remove() method erases the first value that matches the parameter

# **Dictionaries**


```
var = "Hello World!"
varDict = {'first' : 123, 2 : 'abc',
           '3' : var, 4: ['lista', 'listb']}
print(varDict('first"]}
```
> 123



```
print(varDict[2])
```
> abc



```
print(varDict['3'])
```
> Hello World!



```
print(varDict[4])
```
> ['lista', 'listb']



```
print(varDict[4][1])
```
> listb



```
len(varDict)
```
>4

# **List Generators and Comprehension**

Generators can be used to build list in the memory as objects



```
def gen_num_up_to(n):
    num = 0
    while num < n:
          yield num
          num += 1
```



```
gen_num_up_to(5)
```
> <generator object gen_num_up_to at 0x0000>

*Note: This creates an object



```
varList = gen_num_up_to(5)
print(var for var in varList])
```
> [0, 1, 2, 3, 4]


```
def gen_num_up_to(n):
    num = 0
    while num < n:
          yield num
          num +=2

varList = gen_num_up_to(5)
print([var for var in varList])
```
> [0, 2. 4]



```
varList = range(0, 5, 2)
print([var for var in varList])
```
> [0, 2, 4]

# **Slicing**

In [8]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

[1, 2, 3, 4, 5]

In [9]:
print(varList[5:])

[6, 7, 8, 9, 10]

In [10]:
print(varList[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
print(varList[-2:])

[9, 10]

In [12]:
print(varList[2:-2])

[3, 4, 5, 6, 7, 8]

In [13]:
print(varList[2:8:2])

[3, 5, 7]

*Note:

      list(start:)

      list(:end)

      list(start:end)

      list(start:end:step)

# **Functions**

Python functions use the following notation:


```
def function_name:
      commands
```

In [14]:
def remainder(n,m):
    while True:
      if n - m <0:
          return n
      else:
          n = n - m

remainder(10,4)

2

*Note: Functions are defined with the keyword def before the function_name. Similar to loops, the function definition ends with a colon (:) while its contents inside are indented