In [1]:
import pandas as pd

print("Original DataFrame")
data = {'col 1': [1, 4, 3, 4, 5], 'col 2': [4, 5, 6, 7, 8],  'col3': [7, 8, 9, 0, 1]}

myvar = pd.DataFrame(data)
print(myvar)

Original DataFrame
   col 1  col 2  col3
0      1      4     7
1      4      5     8
2      3      6     9
3      4      7     0
4      5      8     1

In [2]:
import pandas as pd

print("New DataFrame")
data = {'col 1': [1, 4, 3, 4, 5], 'col 2': [4, 5, 6, 7, 8],  'col3': [7, 8, 9, 0, 1]}

myvar = pd.DataFrame(data)

myvar = myvar.drop(1)
print(myvar)

New DataFrame
   col 1  col 2  col3
0      1      4     7
2      3      6     9
3      4      7     0
4      5      8     1

In [3]:
import pandas as pd

print("Original DataFrame")
data = {'col 1': [1, 4, 3, 4, 5], 'col 2': [4, 5, 6, 7, 8],  'col3': [7, 8, 9, 0, 1]}

myvar = pd.DataFrame(data)
print(myvar)

print("New DataFrame")
myvar = myvar.drop(1)
print(myvar)

Original DataFrame
   col 1  col 2  col3
0      1      4     7
1      4      5     8
2      3      6     9
3      4      7     0
4      5      8     1
New DataFrame
   col 1  col 2  col3
0      1      4     7
2      3      6     9
3      4      7     0
4      5      8     1